*.log
*~
/**/index.tantivy
/.bash_history
/.claude*
/.config
/.emacs*
/.lesshst
/.npm
/.ssh/
/Cargo.lock
/bash/kill-servers.sh
/data/skg
/devel-handy/temp.org
/target
/tests/**/generated/
TAGS
temp-*
temp/
